    /* font connect */
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #222222;
   
    max-width: 1440px;
    margin: 0 auto;
}

/* shared color */
.share-title{
    /* margin: 6.2rem; */
    font-size: 42px;
    color: white;
    text-align: center;
    font-weight: 800;
}
.share-description{
    font-size: 15px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 0.9rem;
    color:  rgba(255, 255, 255, 0.5);
}

/* navber style */
.nav-container,.head-banner-container img{
    background-image: linear-gradient(to bottom,#141414,#222222,#141414);
    /* background-image: linear-gradient(360.00deg,rgb(17,17,17),rgba(119,119,119,0)100%); */
}
header,main{
    width: 80%;
    margin: 0 auto;
}
/* parent for navber */

.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.3rem;
    /* border: 2px solid red; */
}
.nav-logo-style{
    font-size: 35px;
    font-weight: 800;
    color: rgb(254, 71, 42);
}
.nav-option ul{
    display: flex;
    color: white;
    gap: 3rem;
    font-size: 18px;
    font-weight: 400;
    /* border: 2px solid green; */
}
.nav-option li{
    
    list-style: none;
}
.btn-primary-1{
    border-radius: 30px;
    background-color: rgb(230, 83, 60);
    color: white;
    cursor: pointer;
    padding: 10px 14px;
}

/* banner section styles */
.banner-img-content{
    
    position: relative;
}
.banner-div-1{
    position: absolute;
    top: 120%;
    left: 50%;
    padding: 0.8rem 1rem;
    color: white;
}
.banner-div-2{
    position: absolute;
    top: 70%;
    left: 80%;
    padding: 0.8rem 1rem;
    color: white;
}
.btn-1{
    font-size: 700;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
 padding: 0.5rem 0.9rem;
}
.btn-2{
    font-size: 700;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.7rem 1rem;
}
/* banner parent */
.head-banner-container{
    display: flex;
    margin-top:7rem;
    /* border: 2px solid salmon; */
}
.banner-text-content{

}
/*  text and button related style  */
.banner-header{
    margin-top: 3.5rem;
    font-size: 50px;
    font-weight: 900;
    color: white;
    /* border: 2px solid yellow; */
    text-align: left;
}
.styl{
    font-size: 70px;
    font-family: "Dancing Script", cursive;
}
.banner-desc{

    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
}
/* button parent */
.btn-cotainer{

}
.copyright{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    padding: 1rem 1.4rem;
    border-radius: 50px;
    color: white;
    border: none;
    font-size: 16px;
    margin-right:5px ;
    cursor: pointer;
    /* font-weight: 600; */
}
.btn-primary2{
    background-color:black;
    padding: 1rem 1.4rem;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 600px;
}
/* main part 1 change your habit style */
/* parent */
.change-your-habit-container{
    margin-top: 6.2rem;
    /* border: 2px solid yellow; */
}
/* image formate */
.all-image-container{
    margin-top: 2.5rem;
    display: flex;
    /* border: 2px solid wheat; */
    gap: 1rem;
}
.habit-img-container img{
    
    border-radius: 50%;
}

.habit-img-text,.des-1{
    color: rgba(255, 255, 255, 0.5);;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.habit-img-text,.img-1{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.habit-img-text,.img-1{
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    color: white;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
}
/* main part 3 */
.extra-mile-container{
    display: flex;
    margin-top:6.3rem ;
    /* border: 2px solid yellow; */
}
.text-extra-mile{
    margin-top: 3rem;
    margin-left: 3rem;
}
.extra-head{
    font-size: 40px;
    color: white;
}
.extra-desc{
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}
.extra-mile-image img{
   width: 60%;
   height: 80%;
   margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    margin-left: 12rem;
    margin-right: 2.4rem;
   border-radius: 20px;
  
}
/* training and exesice style */
.training-container{
    margin-top: 6.5rem;
    /* border: 2px so */
}
.training-container img{
    width: 100%;
    height: 300px;
    filter: brightness(90%);
}
.training-content{

}
.training-head{
    color: white;
    margin-top:0.9rem ;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
  
}
.training-desc{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

/* grid image style */
.training-grid-image{
    
   align-items: center;
   /* border: 2px solid salmon; */
   grid-template-columns:repeat(3,1fr);
}
.grid-container, .row-1{
    display: grid;
    
    /* grid-template-columns: repeat(3,1fr);  */
    grid-template-columns: 0.8fr 1fr 0.7fr; 
}
.grid-container,.row-2{
    display: grid;
    /* grid-template-columns: repeat(3,1fr);  */
    grid-template-columns: 1fr 0.7fr 0.7fr; 
    /* column-gap: 4rem; */
}   
.grid-container, .img-ex{
    /* display: grid; */
        /* margin-top: 4rem; */
}
/* .row-1 img{
    
    width: 100%;
    height: 100%;
}
.row-2 img{
    width: 100%;
    height: 100%;
} */
.div-1{
    position:relative;
}
.name{
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
}
.div-2{
    position: relative;
}
.hero{
    color: white;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 16px;
    font-weight: 500;
    transform: translate(-40%,-40%);
}
.training-footer{
    margin-left: 15rem;
    width: 70%;
    margin-top: 4rem;
    /* border: 2px solid yellow; */
}
/* .team-img{
    position: relative;
} */
.one{
    position: relative;
}
.im1{
    font-size: 16px;
    font-weight:700;
    top: 65%;
    color: white;
    position: absolute;
}
.im2{
    font-size: 16px;
    font-weight: 800;
    top: 75%;
    color: white;
    position: absolute;
}


.training-footer-heading{
    font-size: 30px;
    color: white;
    margin-bottom: 1rem;
}
.training-footer-description{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-flex{
    display: flex;
}
.bmi-container{
    margin-top: 3rem;
 /* border: 2px solid skyblue; */
}
.table-create{
    /* border: 2px solid yellowgreen; */
    margin-left: 4rem;
    margin-top: 3rem;
    /* margin-right: 4rem; */
}
.bmi-Chart th{
    color: white;
}
.bmi-Chart td{
    color: rgba(255, 255, 255, 0.5);
}
.table-create{

}
.bmi-chart-heading{
    font-size: 25px;
    margin-top: 3rem;
    margin-left: 4rem;
    color: white;
}
.table-create table tr th td{
    padding: 0.5rem 4rem;
}
.calculate-my-bmi{
    width: 55%;
 margin-top: 3rem;
 margin-left: 5rem;
 /* border: 2px solid red; */
}
.text-content-last-part{

}
.bmi-heading{
    font-size: 28px;

    color: white;
}
.tst{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.bmi-desc{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.input-tag input{
    border-radius: 8px;
    padding: 0.9rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    /* border: 2px solid red; */
}
.input-tag select{
    margin-top:1rem ;
    background: rgba(255, 255, 255, 0.1);
    /* margin-left: 0.5rem; */
    padding: 1rem 4rem;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    /* border: 2px solid yellow; */
}

.team-part-container{
    margin-top: 4rem;
}
.team-img{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* filter: opacity(00.8fr); */
    filter: brightness(80%);
    /* filter:contrast(90%); */
    
    
    /* grid-column: 30px; */
}
.team-img img{
    
    border-radius: 20px;
    width: 75%;
    height: 85%;
}
/* footer style  */

.footer-conainer{
    /* border: 2px solid red; */
    max-width: 1440px;
    max-height: 600px;
}
.footer-content{
    margin-top: 3rem;
    margin-left:8rem;
   /* border: 2px solid skyblue; */
   margin-right: 8rem;
}
.foter-desc{
    color: rgba(255, 255, 255, 0.5);

font-size: 14px;
font-weight: 400;
line-height: normal;
}
.box-foter{
    display: flex;
}
.box-box{
    margin-top: 3rem;
    display: flex;
}
.get-started-1 ul{
    width: 33%;
    color: white;
    /* display: flex; */
    margin-right: 12rem;
    /* border: 2px solid yellow; */
    list-style: none;
    line-height: 2rem;
}
.get-started-1,.ah-4{
    /* border: 2px solid greenyellow; */
    color: white;
    margin-bottom: 2.2em;
    /* display: flex; */
    flex-direction: column;
}

/* .get-started-2{
    width: 33%;
    display: flex;
    color: white;
    border: 2px solid skyblue;
} */
.get-started-2 ul{
    width: 33%;
    color: white;
    /* display: flex; */
    margin-right: 12rem;
    /* border: 2px solid yellow; */
    list-style: none;
    line-height: 1.7rem;
}